html {
    scroll-snap-type: y mandatory;
}
.app {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}
.app_videos {
    position: relative;
    height: 500px;
    overflow: scroll;
    width: 80%;
    max-width: 300px;
    scroll-snap-type: y mandatory;
    border-radius: 20px;
}
/* Hide scrollbar for chrome,safari and opera */
.app_videos::-webkit-scrollbar{
    display: none;
}
/* hide scrollbar for IE, Edge and firedox */
.app_videos {
    -ms-overflow-style: none; /*IE and Edge*/
    scrollbar-width: none;
}